@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Aplicando a fonte personalizada */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 1280px;

}


.containerLeft{
    width: 288px; 
    height: 100%;
    background-color: #0095DA;
    position: absolute;
    left: 0;
    top: 0;


}

.container-perfil{
    width: 93px;
    height: 97px;
    margin-left: 95px;
    margin-top: 50px;

}

.name-perfil{
    text-align: center;
    color: #FFFFFF;
    font-size: 19px;
}

.icon-perfil{
    align-items: center;
    width: 83px;
    height: 83px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px; /* Centraliza a imagem verticalmente e adiciona margem embaixo */

}

.icon-perfil img{
    width: 100%;
    height: 100%;
    display: block;
}

.box-img{
    width: 235px;
    height: 110px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    margin: 0 auto 10px;
    
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.container-options{
    width: 288px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.options{
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.options:hover{
    background-color: #00AEFF;
}


.separator-line {
    width: calc(100% - 40px); /* Largura total menos 20px de margem em cada lado */
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 20px ; /* Margem de 20px no topo e na base */
}

.options-sair{
    margin-top: 240px;
}

.direitos{
    margin-top: 15px;
    margin-left: 14px;
    color: #E0E0E0;
    font-size: 12px;
}

.text-options{
    font-size: 16px;
    color:#FFFFFF;
    display: flex;
    margin-left: 14px;
}

.icon-options{
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 26px;
}

.main-content{
    margin-left: 413px ;
    margin-top: 108px;


    width: 795px;
    height: 482px;
}

.main-content-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 42px;
    
}




.box-content{
    width: calc(100% - 2px);
    height: 110px;
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.box-title{
    margin-top: 21px;
    font-size: 24px;
    color:#0095DA;
    margin-bottom: 4px;
}

.box-text{
    margin-top: 4px;
    font-size: 12px;
    color:#333333;
    max-width: 185px;
    margin: auto;
}