{% load static %}

<div class="containerLeft">

    <div class='container-perfil'>

        <div class="icon-perfil"><img src="{{ person.icon.url }}" alt=""></div>
        <div class="name-perfil">Olá, {{ person.nome }}</div>

    </div>

    <div class='container-options'>

        <div class="options " >

            <div class="icon-options "><img src="{% static "recipes/images/Home.png" %}" alt=""></div>
            <div class="text-options">Início</div>

        </div>

        <div class="options">

            <div class="icon-options"><img src="{% static "recipes/images/Settings.png" %}" alt=""></div>
            <div class="text-options">Configurações</div>

        </div>

        <div class="separator-line"></div>

        <div class="options">

            <div class="icon-options"><img src="{% static "recipes/images/bell.png" %}" alt=""></div>
            <div class="text-options">Notificações</div>

        </div>

        <div class="separator-line line-bottom"></div>

        <a class='link' href="{% url 'login' %}">
            <div class="options sair ">

                <div class="icon-options"><img src="{% static "recipes/images/sign-out.png" %}" alt=""></div>
                <div class="text-options ">Sair</div>
                
            </div>
        </a>

        <div class="direitos bottom">
            Todos os direitos reservados ©
        </div>

    </div>
    
</div>