
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Aplicando a fonte personalizada */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fazendo o body ocupar pelo menos a altura total da tela */
}

.container {
    width: 1280px;
    height: 720px;
    border: 1px solid #ccc; /* Apenas para visualização */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Apenas para visualização */
    display: flex;
}

.containerTemplate{
    width: 480px;
    height: 720px;


}

.imageLogin{
    height: 100%;
    object-fit: cover;
    display: flex;
    margin-left: 0px;
    
}

.containerLogin{
    position: absolute;
    margin-left: 694px ;
    margin-top: 140px;

    width: 323px;
    height: 423px;
    

    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
}

.containerLogin h2 {
    font-size: 48px;
    margin-top: 0px;
    text-align: left;
}

.containerLogin form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.containerLogin label {
    margin-bottom: 5px;
    font-weight: bold;
}

.containerLogin input {
    
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.usuarioInput {
    padding: 20px;
    border: 1px solid #ccc; 
    position: relative; 
    color: #4F4F4F;
    height: 15px;
    width: 280px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

.containerLogin button {
    height: 55px;
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0095DA;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.containerLogin button:hover {
    height: 54px;
    background-color: #0095DA;
}
.containerLogin button:active {
    height: 54px;
    background-color: #4F4F4F;
}

.options {
    height: 55px;
    width: 320px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options label {
    display: flex;
    align-items: center;
    color: #4F4F4F;
}

.options label input[type="checkbox"] {
    margin-right: 5px;
    color: #4F4F4F;
}

.esqueceuSenha{
    text-align: right;
    color: #4F4F4F;

}